<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name></display-name>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>soac.miniprojet.servlets.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsServlet</display-name>
    <servlet-name>StudentsServlet</servlet-name>
    <servlet-class>soac.miniprojet.servlets.StudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsServlet</servlet-name>
    <url-pattern>/Students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionsServlet</display-name>
    <servlet-name>InscriptionsServlet</servlet-name>
    <servlet-class>soac.miniprojet.servlets.InscriptionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionsServlet</servlet-name>
    <url-pattern>/Inscriptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>soac.miniprojet.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>soac.miniprojet.servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReinscriptionsServlet</display-name>
    <servlet-name>ReinscriptionsServlet</servlet-name>
    <servlet-class>soac.miniprojet.servlets.ReinscriptionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReinscriptionsServlet</servlet-name>
    <url-pattern>/Reinscriptions</url-pattern>
  </servlet-mapping>
</web-app>